[submodule "aotus"]
	path = aotus
	url = https://github.com/apes-suite/aotus.git
[submodule "bin"]
	path = bin
	url = https://github.com/apes-suite/apes-bin.git
[submodule "tem"]
	path = tem
	url = https://github.com/apes-suite/tem-source.git
[submodule "mus"]
	path = mus
	url = https://github.com/apes-suite/musubi-source.git
