[submodule "aotus"]
	path = aotus
	url = ../aotus.git
[submodule "bin"]
	path = bin
	url = ../apes-bin.git
[submodule "tem"]
	path = tem
	url = ../tem-source.git
[submodule "mus"]
	path = mus
	url = ../musubi-source.git
[submodule "pysys-extensions"]
	path = pysys-extensions
	url = ../apes-pysys-extensions.git
