[submodule "aotus"]
	path = aotus
	url = ../aotus.git
[submodule "bin"]
	path = bin
	url = ../apes-bin.git
[submodule "tem"]
	path = tem
	url = ../tem-source.git
[submodule "mus"]
	path = mus
	url = ../musubi-source.git
	branch = fpp_docu
