name: Compilation and Tests

on:
  pull_request:
    branches: [ "main" ]
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review
  merge_group:
    types: [ checks_requested ]

jobs:
  compile-test:
    permissions:
      checks: write
      pull-requests: write
    uses: apes-suite/reus/.github/workflows/compile.yml@v1.4.1
    with:
      name: Musubi
      systest: ${{ github.event.pull_request.draft == false }}

